@@HEADER@@

# TextEncoder

An implementation of the [WHATWG Encoding Specification](https://encoding.spec.whatwg.org) in PHP.

> The UTF-8 encoding is the most appropriate encoding for interchange of Unicode, the universal coded character set.

We agree with this statement. The goal of this project is to detect the current encoding of a string or document. If it isn't UTF-8, make it easy to convert to UTF-8.

## Badges

@@BADGES;repo=text-encoder@@

## Workflow

![](docs/bart-utf8.png)

Before we can convert content to UTF-8, we first need to understand the _current_ character encoding so that we know what we need to convert _from_. In order to determine this, we rely on a few specific signals:

1. The `Content-Type` header in an HTTP response.
1. The XML prologue.
1. Well-known byte sequences in certain encodings.

Since character encodings can be fairly esoteric, and a understanding of encodings is limited, it is common that an HTTP response or XML prologue will _lie_ about their encoding. As such, while they _may_ be helpful, _content sniffing_ provides the most confident results.

Once we have high confidence in the _input_ encoding, converting to UTF-8 becomes trivial.

## Specifications

* [UTS #22: Unicode Character Mapping Markup Language, §1.4: Charset Alias Matching](https://www.unicode.org/reports/tr22/tr22-8.html)
* [Extensible Markup Language (XML) 1.0 (Fifth Edition), Appendix F.1: “Detection Without External Encoding Information”](https://www.w3.org/TR/xml/#sec-guessing-no-ext-info)
* [HTML Living Standard: Determining the Character Encoding](https://html.spec.whatwg.org/multipage/parsing.html#determining-the-character-encoding)
* [Encoding Living Standard](https://encoding.spec.whatwg.org)
* [BCP-47: Tags for Identifying Languages](https://tools.ietf.org/html/bcp47)
* [FAQ: UTF-8, UTF-16, UTF-32 & BOM](https://unicode.org/faq/utf_bom.html)

## Coding Standards

@@CODING_STANDARDS@@

## Please Support or Sponsor Development

@@SPONSOR@@
